.List {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;

  max-height: 580px;
  margin-top: 20px;

  overflow-y: scroll;
  list-style: none;

  padding: 0 10px;
  
}

.List:hover,
.List:has(:focus) {
  background-color: rgba(255, 255, 255, 0.04);
}


/*$  li tag */
.list-item {
  width: 100%;
  max-width: 80%;
  height: auto;

  margin-bottom: 8px;
  padding: 10px;

  border: solid 3px white;
  border-radius: 10px;
  
}

.list-item:hover,
.list-item:has(:focus) {
  background-color: #336;
}

.list-item div {
  display: flex;
  justify-content: space-between;

  width: 100%;
  position: relative;
}

/*$ APLY THIS STYLE FOR P TAG AND ... BUTTON */
.list-item div p,
.hidden-content-btn {
  color: black;

  margin-left: 10px;
  max-width: 50%;

  color: white;
  max-width: 90%;
  word-wrap: break-word;
  word-spacing: 5px;

  font-size: 1.3rem;
}

.delete-item-btn {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  font-weight: 600;
  color: white;

  background-color: #ff4444;
  border: none;
  border-radius: 20%;
  transition: 120ms;
  min-width: 25px;

  position: absolute;
  right: 0px;
}

.delete-item-btn:hover {
  scale: 1.1;
}

.hidden-content-btn {
  background-color: transparent;
  border: none;
}
